body 
    margin: 0
    padding: 0
    height: 98vh
    font-family: "Inter", sans-serif
    font-weight: 600
    
.grid 
    width: 24rem
    height: 24rem
    display: flex
    flex-wrap: wrap
    background: slategray
    &-container
        display: flex
        justify-content: center
        height: 95vh
        align-items: center
    &-item 
        height: 2rem
        width: 2rem
        border: 0.2rem solid black
        transition: all 0.1s ease
        display: flex
        align-items: center
        justify-content: center
        color: lightslategray
        &.bomb
            background-color: red
        &.checked 
            background-color: pink