body {
  margin: 0;
  padding: 0;
  height: 98vh;
  font-family: "VT323", monospace;
  font-weight: 600;
  background: #ffff99;
}

h1 {
  width: fit-content;
  color: #b15928;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  align-items: center;
  text-align: center;
}

.rules {
  color: #cab2d6;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background: #b15928;
  box-shadow: 1px 1px #fdbf6f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  color: #fdbf6f;
  margin: 1rem 0;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  top: 0;
  transition: top 0.3s ease-out;
}
.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti.hidden {
  top: -100%;
}

.confetti-piece:nth-child(1) {
  width: 23px;
  height: 11.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 41%;
  opacity: 0.9497470096;
  transform: rotate(297.9837213248deg);
  animation: drop-1 4.3455229964s 0.5429083116s infinite;
}
@keyframes drop-1 {
  100% {
    top: 110%;
    left: 42%;
  }
}

.confetti-piece:nth-child(2) {
  width: 19px;
  height: 9.5px;
  background-color: #d13447;
  top: -10%;
  left: 73%;
  opacity: 1.213237059;
  transform: rotate(22.4565494981deg);
  animation: drop-2 4.9138466495s 0.2067346363s infinite;
}
@keyframes drop-2 {
  100% {
    top: 110%;
    left: 74%;
  }
}

.confetti-piece:nth-child(3) {
  width: 12px;
  height: 6px;
  background-color: #263672;
  top: -10%;
  left: 52%;
  opacity: 1.4158510474;
  transform: rotate(355.1205114589deg);
  animation: drop-3 4.5129494172s 0.2668462077s infinite;
}
@keyframes drop-3 {
  100% {
    top: 110%;
    left: 61%;
  }
}

.confetti-piece:nth-child(4) {
  width: 22px;
  height: 11px;
  background-color: #ffbf00;
  top: -10%;
  left: 24%;
  opacity: 0.5491498841;
  transform: rotate(24.1345798353deg);
  animation: drop-4 4.2008105735s 0.7608570906s infinite;
}
@keyframes drop-4 {
  100% {
    top: 110%;
    left: 29%;
  }
}

.confetti-piece:nth-child(5) {
  width: 21px;
  height: 10.5px;
  background-color: #d13447;
  top: -10%;
  left: 51%;
  opacity: 0.7374755469;
  transform: rotate(289.1687300514deg);
  animation: drop-5 4.2749085087s 0.543033481s infinite;
}
@keyframes drop-5 {
  100% {
    top: 110%;
    left: 63%;
  }
}

.confetti-piece:nth-child(6) {
  width: 25px;
  height: 12.5px;
  background-color: #d13447;
  top: -10%;
  left: 108%;
  opacity: 0.8558741158;
  transform: rotate(79.1189977161deg);
  animation: drop-6 4.247383399s 0.9099860116s infinite;
}
@keyframes drop-6 {
  100% {
    top: 110%;
    left: 112%;
  }
}

.confetti-piece:nth-child(7) {
  width: 22px;
  height: 11px;
  background-color: #d13447;
  top: -10%;
  left: 80%;
  opacity: 0.5051288948;
  transform: rotate(335.4364946944deg);
  animation: drop-7 4.4939367257s 0.113263553s infinite;
}
@keyframes drop-7 {
  100% {
    top: 110%;
    left: 95%;
  }
}

.confetti-piece:nth-child(8) {
  width: 25px;
  height: 12.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 62%;
  opacity: 0.9016385062;
  transform: rotate(147.1398640967deg);
  animation: drop-8 4.9481585011s 0.7364199341s infinite;
}
@keyframes drop-8 {
  100% {
    top: 110%;
    left: 64%;
  }
}

.confetti-piece:nth-child(9) {
  width: 16px;
  height: 8px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 1.0035581703;
  transform: rotate(14.0202277516deg);
  animation: drop-9 4.3051836226s 0.5483189577s infinite;
}
@keyframes drop-9 {
  100% {
    top: 110%;
    left: 106%;
  }
}

.confetti-piece:nth-child(10) {
  width: 28px;
  height: 14px;
  background-color: #263672;
  top: -10%;
  left: 26%;
  opacity: 0.5816188816;
  transform: rotate(339.5511839543deg);
  animation: drop-10 4.1257116523s 0.6012314897s infinite;
}
@keyframes drop-10 {
  100% {
    top: 110%;
    left: 39%;
  }
}

.confetti-piece:nth-child(11) {
  width: 11px;
  height: 5.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 92%;
  opacity: 0.787226222;
  transform: rotate(357.9279119574deg);
  animation: drop-11 4.0074163335s 0.905108821s infinite;
}
@keyframes drop-11 {
  100% {
    top: 110%;
    left: 94%;
  }
}

.confetti-piece:nth-child(12) {
  width: 16px;
  height: 8px;
  background-color: #d13447;
  top: -10%;
  left: 93%;
  opacity: 0.5631105692;
  transform: rotate(181.6049331563deg);
  animation: drop-12 4.3896810947s 0.7412568774s infinite;
}
@keyframes drop-12 {
  100% {
    top: 110%;
    left: 96%;
  }
}

.confetti-piece:nth-child(13) {
  width: 13px;
  height: 6.5px;
  background-color: #263672;
  top: -10%;
  left: 38%;
  opacity: 0.9238040142;
  transform: rotate(110.2962091449deg);
  animation: drop-13 4.3531437481s 0.3982037837s infinite;
}
@keyframes drop-13 {
  100% {
    top: 110%;
    left: 43%;
  }
}

.confetti-piece:nth-child(14) {
  width: 19px;
  height: 9.5px;
  background-color: #263672;
  top: -10%;
  left: 58%;
  opacity: 0.7544579458;
  transform: rotate(272.1341077729deg);
  animation: drop-14 4.9215645098s 0.5174091673s infinite;
}
@keyframes drop-14 {
  100% {
    top: 110%;
    left: 72%;
  }
}

.confetti-piece:nth-child(15) {
  width: 17px;
  height: 8.5px;
  background-color: #263672;
  top: -10%;
  left: 78%;
  opacity: 1.3306435014;
  transform: rotate(228.0646933691deg);
  animation: drop-15 4.817149598s 0.5439257585s infinite;
}
@keyframes drop-15 {
  100% {
    top: 110%;
    left: 88%;
  }
}

.confetti-piece:nth-child(16) {
  width: 16px;
  height: 8px;
  background-color: #d13447;
  top: -10%;
  left: 19%;
  opacity: 1.2602174081;
  transform: rotate(351.1347666182deg);
  animation: drop-16 4.938439583s 0.4790596306s infinite;
}
@keyframes drop-16 {
  100% {
    top: 110%;
    left: 31%;
  }
}

.confetti-piece:nth-child(17) {
  width: 15px;
  height: 7.5px;
  background-color: #d13447;
  top: -10%;
  left: 72%;
  opacity: 1.2002840118;
  transform: rotate(108.7469107926deg);
  animation: drop-17 4.6863564633s 0.2760704329s infinite;
}
@keyframes drop-17 {
  100% {
    top: 110%;
    left: 84%;
  }
}

.confetti-piece:nth-child(18) {
  width: 24px;
  height: 12px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 1.3223595603;
  transform: rotate(239.3636718497deg);
  animation: drop-18 4.1045878392s 0.7179014716s infinite;
}
@keyframes drop-18 {
  100% {
    top: 110%;
    left: 14%;
  }
}

.confetti-piece:nth-child(19) {
  width: 15px;
  height: 7.5px;
  background-color: #263672;
  top: -10%;
  left: 21%;
  opacity: 0.6292998792;
  transform: rotate(297.2457616306deg);
  animation: drop-19 4.2012225805s 0.8674757852s infinite;
}
@keyframes drop-19 {
  100% {
    top: 110%;
    left: 36%;
  }
}

.confetti-piece:nth-child(20) {
  width: 25px;
  height: 12.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 40%;
  opacity: 1.3003366731;
  transform: rotate(234.1129855205deg);
  animation: drop-20 4.6202473586s 0.0415965552s infinite;
}
@keyframes drop-20 {
  100% {
    top: 110%;
    left: 47%;
  }
}

.confetti-piece:nth-child(21) {
  width: 23px;
  height: 11.5px;
  background-color: #263672;
  top: -10%;
  left: 9%;
  opacity: 1.0210822279;
  transform: rotate(131.6549703053deg);
  animation: drop-21 4.5217137772s 0.8661342886s infinite;
}
@keyframes drop-21 {
  100% {
    top: 110%;
    left: 19%;
  }
}

.confetti-piece:nth-child(22) {
  width: 29px;
  height: 14.5px;
  background-color: #263672;
  top: -10%;
  left: 41%;
  opacity: 1.1300789066;
  transform: rotate(48.7258803099deg);
  animation: drop-22 4.8000268113s 0.3403691916s infinite;
}
@keyframes drop-22 {
  100% {
    top: 110%;
    left: 52%;
  }
}

.confetti-piece:nth-child(23) {
  width: 27px;
  height: 13.5px;
  background-color: #d13447;
  top: -10%;
  left: 108%;
  opacity: 1.1983087778;
  transform: rotate(332.1723816802deg);
  animation: drop-23 4.8579788829s 0.1012629487s infinite;
}
@keyframes drop-23 {
  100% {
    top: 110%;
    left: 116%;
  }
}

.confetti-piece:nth-child(24) {
  width: 22px;
  height: 11px;
  background-color: #ffbf00;
  top: -10%;
  left: 10%;
  opacity: 1.0685739147;
  transform: rotate(149.5160021241deg);
  animation: drop-24 4.6017859438s 0.9447820194s infinite;
}
@keyframes drop-24 {
  100% {
    top: 110%;
    left: 23%;
  }
}

.message {
  color: #ffff99;
  font-size: 3rem;
  margin: 0 3.5rem;
  text-align: center;
  text-shadow: 3px 3px #fdbf6f;
}

.bombs-amount, .flags-amount, .quick-intro {
  margin: 1rem 0;
  color: #fdbf6f;
}

.quick-intro {
  color: #b15928;
}

.reset {
  margin-top: 2rem;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
  background: #a6cee3;
  color: #b15928;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.5rem;
  transition: all 0.1s ease;
}
.reset:hover {
  color: #ffff99;
  text-shadow: 2px 2px #fdbf6f;
  background: #6a3d9a;
}

.rules, .records, .settings {
  cursor: pointer;
}

.stats {
  font-size: 1.5rem;
  text-shadow: none;
}

.right-pane, .left-pane {
  display: flex;
  gap: 0.4rem;
  width: 3rem;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 18rem;
}

.modal {
  position: absolute;
  top: 21.5%;
  width: 100%;
  left: 0;
  transition: left 0.3s ease-in-out;
  color: #ff7f00;
}
.modal button {
  padding: 0.5rem 0.7rem;
  background: #ffff99;
  cursor: pointer;
  color: #ff7f00;
  border: 0.1rem solid #ff7f00;
  border-top: 0.1rem solid #fdbf6f;
  border-left: 0.1rem solid #fdbf6f;
  font-family: "VT323", monospace;
  transition: all 0.1s ease;
}
.modal button:focus, .modal button:hover {
  border: 0.1rem solid #fdbf6f;
  border-top: 0.1rem solid #ff7f00;
  border-left: 0.1rem solid #ff7f00;
}
.modal input {
  background: #ffff99;
  color: #ff7f00;
  border: 0.1rem solid #ff7f00;
  border-top: 0.1rem solid #fdbf6f;
  border-left: 0.1rem solid #fdbf6f;
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 1.1rem;
  font-family: "VT323", monospace;
}
.modal input::placeholder {
  padding: 0 0.5rem;
  color: #fdbf6f;
  margin: 0;
}
.modal-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  height: 24rem;
  padding: 1.3rem;
  background: #a6cee3;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
}
.modal h2 {
  font-style: italic;
  text-shadow: 2px 2px #ffff99;
}
.modal ul li:last-child {
  font-size: 1.1rem;
  font-style: italic;
}
.modal.hidden {
  left: -1000%;
}
.modal-close {
  display: flex;
}
.modal-close button {
  transform: translate(10px, -20px);
}
.modal-name .modal-wrapper, .modal-settings .modal-wrapper {
  align-items: center;
}
.modal-settings .modal-close {
  width: 100%;
}

.logout {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1.5rem 0 0;
}

.grid {
  width: 24rem;
  height: 24rem;
  display: flex;
  flex-wrap: wrap;
  background: slategray;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  align-items: center;
}
.grid-item {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a6cee3;
  cursor: pointer;
}
.grid-item:hover {
  background: #6a3d9a;
}
.grid-item.checked {
  background-color: #cab2d6;
  cursor: default;
}
.grid-item.checked[data-neighbors="1"] {
  color: #e31a1c;
}
.grid-item.checked[data-neighbors="2"] {
  color: #fb9a99;
}
.grid-item.checked[data-neighbors="3"] {
  color: #ff7f00;
}
.grid-item.checked[data-neighbors="4"] {
  color: #fdbf6f;
}
.grid-item.checked[data-neighbors="5"] {
  color: #ffff99;
}
.grid-item.checked.bomb {
  background-color: #e31a1c;
}
.grid-item.checked.bomb:focus {
  background-color: orange;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin: 0 auto;
  color: #cab2d6;
}
.footer img {
  width: 3rem;
  filter: invert(0.8) contrast(0.2);
}