body {
  margin: 0;
  padding: 0;
  height: 98vh;
  font-family: "VT323", monospace;
  font-weight: 600;
  background: #ffff99;
}

h1 {
  width: fit-content;
  color: #b15928;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  align-items: center;
  text-align: center;
}

.rules {
  color: #cab2d6;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background: #b15928;
  box-shadow: 1px 1px #fdbf6f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  color: #fdbf6f;
  margin: 1rem 0;
}

.message {
  color: #ffff99;
  font-size: 3rem;
  margin: 0 3.5rem;
  text-align: center;
  text-shadow: 3px 3px #fdbf6f;
}

.bombs-amount, .flags-amount {
  margin: 1rem 0;
  color: #fdbf6f;
}

.reset {
  margin-top: 2rem;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
  background: #a6cee3;
  color: #b15928;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.5rem;
  transition: all 0.1s ease;
}
.reset:hover {
  color: #ffff99;
  text-shadow: 2px 2px #fdbf6f;
  background: #6a3d9a;
}

.rules, .records, .settings {
  cursor: pointer;
}

.stats {
  font-size: 1.5rem;
  text-shadow: none;
}

.right-pane, .left-pane {
  display: flex;
  gap: 0.4rem;
  width: 3rem;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 18rem;
}

.modal {
  position: absolute;
  top: 21.5%;
  width: 100%;
  left: 0;
  transition: left 0.3s ease-in-out;
  color: #ff7f00;
}
.modal button {
  padding: 0.5rem 0.7rem;
  background: #ffff99;
  cursor: pointer;
  color: #ff7f00;
  border: 0.1rem solid #ff7f00;
  border-top: 0.1rem solid #fdbf6f;
  border-left: 0.1rem solid #fdbf6f;
  font-family: "VT323", monospace;
  transition: all 0.1s ease;
}
.modal button:focus, .modal button:hover {
  border: 0.1rem solid #fdbf6f;
  border-top: 0.1rem solid #ff7f00;
  border-left: 0.1rem solid #ff7f00;
}
.modal input {
  background: #ffff99;
  color: #ff7f00;
  border: 0.1rem solid #ff7f00;
  border-top: 0.1rem solid #fdbf6f;
  border-left: 0.1rem solid #fdbf6f;
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 1.1rem;
  font-family: "VT323", monospace;
}
.modal input::placeholder {
  padding: 0 0.5rem;
  color: #fdbf6f;
  margin: 0;
}
.modal-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  height: 24rem;
  padding: 1.3rem;
  background: #a6cee3;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
}
.modal h2 {
  font-style: italic;
  text-shadow: 2px 2px #ffff99;
}
.modal ul li:last-child {
  font-size: 1.1rem;
  font-style: italic;
}
.modal.hidden {
  left: -1000%;
}
.modal-close {
  display: flex;
}
.modal-close button {
  transform: translate(10px, -20px);
}
.modal-name .modal-wrapper, .modal-settings .modal-wrapper {
  align-items: center;
}
.modal-settings .modal-close {
  width: 100%;
}

.logout {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1.5rem 0 0;
}

.grid {
  width: 24rem;
  height: 24rem;
  display: flex;
  flex-wrap: wrap;
  background: slategray;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  align-items: center;
}
.grid-item {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a6cee3;
  cursor: pointer;
}
.grid-item:hover {
  background: #6a3d9a;
}
.grid-item.checked {
  background-color: #cab2d6;
  cursor: default;
}
.grid-item.checked[data-neighbors="1"] {
  color: #e31a1c;
}
.grid-item.checked[data-neighbors="2"] {
  color: #fb9a99;
}
.grid-item.checked[data-neighbors="3"] {
  color: #ff7f00;
}
.grid-item.checked[data-neighbors="4"] {
  color: #fdbf6f;
}
.grid-item.checked[data-neighbors="5"] {
  color: #ffff99;
}
.grid-item.checked.bomb {
  background-color: #e31a1c;
}
.grid-item.checked.bomb:focus {
  background-color: orange;
}