body {
  margin: 0;
  padding: 0;
  height: 98vh;
  font-family: "VT323", monospace;
  font-weight: 600;
  background: #ffff99;
}

h1 {
  width: fit-content;
  color: #b15928;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  align-items: center;
  text-align: center;
}

.rules {
  color: #cab2d6;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background: #b15928;
  box-shadow: 1px 1px #fdbf6f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  color: #fdbf6f;
  margin: 1rem 0;
}

.confetti, .danger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  top: 0;
  transition: top 1s ease-out;
}
.confetti-piece, .danger-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti.hidden, .danger.hidden {
  top: -100%;
}

.danger {
  animation: change-color 0.15s infinite;
  transition: none;
  z-index: 0;
}

@keyframes change-color {
  from {
    background-color: #ed7e07;
  }
  50% {
    background-color: #ffd300;
  }
  to {
    background-color: #d13447;
  }
}
.confetti-piece:nth-child(1) {
  width: 27px;
  height: 13.5px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 0.9160386577;
  transform: rotate(310.028429907deg);
  animation: drop-1 1.4097808441s 0.2883806216s infinite;
}
@keyframes drop-1 {
  100% {
    top: 110%;
    left: 53%;
  }
}

.confetti-piece:nth-child(2) {
  width: 33px;
  height: 16.5px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 1.4627381044;
  transform: rotate(309.2146886575deg);
  animation: drop-2 1.183544995s 0.6463331359s infinite;
}
@keyframes drop-2 {
  100% {
    top: 110%;
    left: 28%;
  }
}

.confetti-piece:nth-child(3) {
  width: 26px;
  height: 13px;
  background-color: #d13447;
  top: -10%;
  left: 94%;
  opacity: 1.299147258;
  transform: rotate(128.6305377817deg);
  animation: drop-3 1.7707965759s 0.2610277966s infinite;
}
@keyframes drop-3 {
  100% {
    top: 110%;
    left: 105%;
  }
}

.confetti-piece:nth-child(4) {
  width: 18px;
  height: 9px;
  background-color: #263672;
  top: -10%;
  left: 107%;
  opacity: 0.8157374679;
  transform: rotate(33.8361548196deg);
  animation: drop-4 1.1691297756s 0.6260674684s infinite;
}
@keyframes drop-4 {
  100% {
    top: 110%;
    left: 121%;
  }
}

.confetti-piece:nth-child(5) {
  width: 11px;
  height: 5.5px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 1.3065057849;
  transform: rotate(66.7760475557deg);
  animation: drop-5 1.1708844652s 0.537763423s infinite;
}
@keyframes drop-5 {
  100% {
    top: 110%;
    left: 100%;
  }
}

.confetti-piece:nth-child(6) {
  width: 17px;
  height: 8.5px;
  background-color: #d13447;
  top: -10%;
  left: 106%;
  opacity: 0.7095646444;
  transform: rotate(69.5805882485deg);
  animation: drop-6 1.4411037509s 0.1310173721s infinite;
}
@keyframes drop-6 {
  100% {
    top: 110%;
    left: 111%;
  }
}

.confetti-piece:nth-child(7) {
  width: 32px;
  height: 16px;
  background-color: #ffbf00;
  top: -10%;
  left: 98%;
  opacity: 0.9374867312;
  transform: rotate(230.5028886702deg);
  animation: drop-7 1.710709271s 0.2614746489s infinite;
}
@keyframes drop-7 {
  100% {
    top: 110%;
    left: 102%;
  }
}

.confetti-piece:nth-child(8) {
  width: 19px;
  height: 9.5px;
  background-color: #263672;
  top: -10%;
  left: 19%;
  opacity: 0.7494757865;
  transform: rotate(208.9447444865deg);
  animation: drop-8 1.2534464503s 0.1125437956s infinite;
}
@keyframes drop-8 {
  100% {
    top: 110%;
    left: 27%;
  }
}

.confetti-piece:nth-child(9) {
  width: 30px;
  height: 15px;
  background-color: #d13447;
  top: -10%;
  left: 84%;
  opacity: 1.2836328331;
  transform: rotate(80.7791103049deg);
  animation: drop-9 1.6839694227s 0.4040508201s infinite;
}
@keyframes drop-9 {
  100% {
    top: 110%;
    left: 93%;
  }
}

.confetti-piece:nth-child(10) {
  width: 15px;
  height: 7.5px;
  background-color: #263672;
  top: -10%;
  left: 10%;
  opacity: 0.7663375201;
  transform: rotate(177.5336095384deg);
  animation: drop-10 1.6790705434s 0.4841008969s infinite;
}
@keyframes drop-10 {
  100% {
    top: 110%;
    left: 19%;
  }
}

.confetti-piece:nth-child(11) {
  width: 11px;
  height: 5.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 10%;
  opacity: 1.1541024724;
  transform: rotate(25.8086797284deg);
  animation: drop-11 1.8696352744s 0.9813202879s infinite;
}
@keyframes drop-11 {
  100% {
    top: 110%;
    left: 14%;
  }
}

.confetti-piece:nth-child(12) {
  width: 30px;
  height: 15px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 1.042605469;
  transform: rotate(237.6510234577deg);
  animation: drop-12 1.225365294s 0.7968886333s infinite;
}
@keyframes drop-12 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-piece:nth-child(13) {
  width: 26px;
  height: 13px;
  background-color: #ffbf00;
  top: -10%;
  left: 55%;
  opacity: 0.7190286169;
  transform: rotate(89.2329544376deg);
  animation: drop-13 1.8626952003s 0.4770633697s infinite;
}
@keyframes drop-13 {
  100% {
    top: 110%;
    left: 58%;
  }
}

.confetti-piece:nth-child(14) {
  width: 28px;
  height: 14px;
  background-color: #ffbf00;
  top: -10%;
  left: 102%;
  opacity: 1.1298995707;
  transform: rotate(171.1257638044deg);
  animation: drop-14 1.2010300064s 0.9296763722s infinite;
}
@keyframes drop-14 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-piece:nth-child(15) {
  width: 24px;
  height: 12px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.7619138739;
  transform: rotate(264.1231854379deg);
  animation: drop-15 1.2787860332s 0.6723645109s infinite;
}
@keyframes drop-15 {
  100% {
    top: 110%;
    left: 91%;
  }
}

.confetti-piece:nth-child(16) {
  width: 30px;
  height: 15px;
  background-color: #263672;
  top: -10%;
  left: 38%;
  opacity: 0.7519937755;
  transform: rotate(293.250688578deg);
  animation: drop-16 1.2951315472s 0.9478362098s infinite;
}
@keyframes drop-16 {
  100% {
    top: 110%;
    left: 42%;
  }
}

.confetti-piece:nth-child(17) {
  width: 13px;
  height: 6.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 98%;
  opacity: 0.5462939273;
  transform: rotate(21.6455720976deg);
  animation: drop-17 1.6718256098s 0.3895319435s infinite;
}
@keyframes drop-17 {
  100% {
    top: 110%;
    left: 105%;
  }
}

.confetti-piece:nth-child(18) {
  width: 10px;
  height: 5px;
  background-color: #ffbf00;
  top: -10%;
  left: 89%;
  opacity: 0.818515149;
  transform: rotate(169.0801332379deg);
  animation: drop-18 1.2537153045s 0.2062864287s infinite;
}
@keyframes drop-18 {
  100% {
    top: 110%;
    left: 95%;
  }
}

.confetti-piece:nth-child(19) {
  width: 13px;
  height: 6.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 29%;
  opacity: 0.5475782823;
  transform: rotate(129.1160507786deg);
  animation: drop-19 1.8292323964s 0.0853824142s infinite;
}
@keyframes drop-19 {
  100% {
    top: 110%;
    left: 40%;
  }
}

.confetti-piece:nth-child(20) {
  width: 17px;
  height: 8.5px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 1.300377005;
  transform: rotate(2.4523098947deg);
  animation: drop-20 1.6151273624s 0.5863926461s infinite;
}
@keyframes drop-20 {
  100% {
    top: 110%;
    left: 43%;
  }
}

.confetti-piece:nth-child(21) {
  width: 9px;
  height: 4.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 79%;
  opacity: 0.7901323629;
  transform: rotate(333.7651972064deg);
  animation: drop-21 1.1366212992s 0.2154947485s infinite;
}
@keyframes drop-21 {
  100% {
    top: 110%;
    left: 83%;
  }
}

.confetti-piece:nth-child(22) {
  width: 22px;
  height: 11px;
  background-color: #ffbf00;
  top: -10%;
  left: 53%;
  opacity: 0.8611927416;
  transform: rotate(275.0345242027deg);
  animation: drop-22 1.2047235572s 0.5042772847s infinite;
}
@keyframes drop-22 {
  100% {
    top: 110%;
    left: 58%;
  }
}

.confetti-piece:nth-child(23) {
  width: 20px;
  height: 10px;
  background-color: #ffbf00;
  top: -10%;
  left: 74%;
  opacity: 0.8696458916;
  transform: rotate(149.5197037892deg);
  animation: drop-23 1.6037531712s 0.4438379413s infinite;
}
@keyframes drop-23 {
  100% {
    top: 110%;
    left: 82%;
  }
}

.confetti-piece:nth-child(24) {
  width: 25px;
  height: 12.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 73%;
  opacity: 0.9942278824;
  transform: rotate(54.4936893789deg);
  animation: drop-24 1.4674828276s 0.420430926s infinite;
}
@keyframes drop-24 {
  100% {
    top: 110%;
    left: 81%;
  }
}

.confetti-piece:nth-child(25) {
  width: 32px;
  height: 16px;
  background-color: #ffbf00;
  top: -10%;
  left: 86%;
  opacity: 0.7458629543;
  transform: rotate(203.4628847632deg);
  animation: drop-25 1.1935371905s 0.977166099s infinite;
}
@keyframes drop-25 {
  100% {
    top: 110%;
    left: 91%;
  }
}

.confetti-piece:nth-child(26) {
  width: 10px;
  height: 5px;
  background-color: #ffbf00;
  top: -10%;
  left: 105%;
  opacity: 1.0145648091;
  transform: rotate(294.0744769058deg);
  animation: drop-26 1.031004707s 0.6050196048s infinite;
}
@keyframes drop-26 {
  100% {
    top: 110%;
    left: 116%;
  }
}

.confetti-piece:nth-child(27) {
  width: 17px;
  height: 8.5px;
  background-color: #263672;
  top: -10%;
  left: 107%;
  opacity: 1.3362580867;
  transform: rotate(208.572291473deg);
  animation: drop-27 1.7906224169s 0.5455014508s infinite;
}
@keyframes drop-27 {
  100% {
    top: 110%;
    left: 112%;
  }
}

.confetti-piece:nth-child(28) {
  width: 22px;
  height: 11px;
  background-color: #ffbf00;
  top: -10%;
  left: 39%;
  opacity: 0.9197611748;
  transform: rotate(11.6691123171deg);
  animation: drop-28 1.5995806429s 0.5599194907s infinite;
}
@keyframes drop-28 {
  100% {
    top: 110%;
    left: 51%;
  }
}

.confetti-piece:nth-child(29) {
  width: 25px;
  height: 12.5px;
  background-color: #263672;
  top: -10%;
  left: 29%;
  opacity: 1.0182455726;
  transform: rotate(98.8823659504deg);
  animation: drop-29 1.7363826625s 0.2059244879s infinite;
}
@keyframes drop-29 {
  100% {
    top: 110%;
    left: 38%;
  }
}

.confetti-piece:nth-child(30) {
  width: 17px;
  height: 8.5px;
  background-color: #263672;
  top: -10%;
  left: 78%;
  opacity: 0.7340702692;
  transform: rotate(180.8961603758deg);
  animation: drop-30 1.5883875107s 0.7094355391s infinite;
}
@keyframes drop-30 {
  100% {
    top: 110%;
    left: 90%;
  }
}

.confetti-piece:nth-child(31) {
  width: 25px;
  height: 12.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 36%;
  opacity: 1.2644760098;
  transform: rotate(303.0900853444deg);
  animation: drop-31 1.7262284373s 0.5606765607s infinite;
}
@keyframes drop-31 {
  100% {
    top: 110%;
    left: 47%;
  }
}

.confetti-piece:nth-child(32) {
  width: 24px;
  height: 12px;
  background-color: #263672;
  top: -10%;
  left: 78%;
  opacity: 1.4578320573;
  transform: rotate(345.0830448406deg);
  animation: drop-32 1.3793514228s 0.2418713167s infinite;
}
@keyframes drop-32 {
  100% {
    top: 110%;
    left: 86%;
  }
}

.confetti-piece:nth-child(33) {
  width: 26px;
  height: 13px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 1.280110096;
  transform: rotate(280.5694755945deg);
  animation: drop-33 1.254901082s 0.6170146592s infinite;
}
@keyframes drop-33 {
  100% {
    top: 110%;
    left: 14%;
  }
}

.confetti-piece:nth-child(34) {
  width: 26px;
  height: 13px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 1.3859542705;
  transform: rotate(235.564101939deg);
  animation: drop-34 1.2704974415s 0.9834108471s infinite;
}
@keyframes drop-34 {
  100% {
    top: 110%;
    left: 62%;
  }
}

.confetti-piece:nth-child(35) {
  width: 14px;
  height: 7px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 0.6674471661;
  transform: rotate(8.5341077932deg);
  animation: drop-35 1.5545186555s 0.9399819948s infinite;
}
@keyframes drop-35 {
  100% {
    top: 110%;
    left: 22%;
  }
}

.confetti-piece:nth-child(36) {
  width: 20px;
  height: 10px;
  background-color: #ffbf00;
  top: -10%;
  left: 27%;
  opacity: 0.5936099182;
  transform: rotate(335.3656632626deg);
  animation: drop-36 1.2237803642s 0.5247288129s infinite;
}
@keyframes drop-36 {
  100% {
    top: 110%;
    left: 34%;
  }
}

.confetti-piece:nth-child(37) {
  width: 10px;
  height: 5px;
  background-color: #263672;
  top: -10%;
  left: 98%;
  opacity: 1.4449819161;
  transform: rotate(27.4033003454deg);
  animation: drop-37 1.866491824s 0.7381640013s infinite;
}
@keyframes drop-37 {
  100% {
    top: 110%;
    left: 112%;
  }
}

.confetti-piece:nth-child(38) {
  width: 24px;
  height: 12px;
  background-color: #263672;
  top: -10%;
  left: 28%;
  opacity: 0.8317914392;
  transform: rotate(267.8584831793deg);
  animation: drop-38 1.9979341132s 0.9899191542s infinite;
}
@keyframes drop-38 {
  100% {
    top: 110%;
    left: 43%;
  }
}

.confetti-piece:nth-child(39) {
  width: 27px;
  height: 13.5px;
  background-color: #263672;
  top: -10%;
  left: 49%;
  opacity: 1.0902321467;
  transform: rotate(195.8255805269deg);
  animation: drop-39 1.5038342013s 0.6509619565s infinite;
}
@keyframes drop-39 {
  100% {
    top: 110%;
    left: 56%;
  }
}

.confetti-piece:nth-child(40) {
  width: 30px;
  height: 15px;
  background-color: #263672;
  top: -10%;
  left: 93%;
  opacity: 1.391185889;
  transform: rotate(59.7698385391deg);
  animation: drop-40 1.2291984502s 0.2527358907s infinite;
}
@keyframes drop-40 {
  100% {
    top: 110%;
    left: 103%;
  }
}

.confetti-piece:nth-child(41) {
  width: 28px;
  height: 14px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 1.2428447934;
  transform: rotate(182.6922059813deg);
  animation: drop-41 1.5719681595s 0.7255637246s infinite;
}
@keyframes drop-41 {
  100% {
    top: 110%;
    left: 70%;
  }
}

.confetti-piece:nth-child(42) {
  width: 29px;
  height: 14.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 1.1880104039;
  transform: rotate(2.9683742102deg);
  animation: drop-42 1.5011061665s 0.3504315447s infinite;
}
@keyframes drop-42 {
  100% {
    top: 110%;
    left: 83%;
  }
}

.confetti-piece:nth-child(43) {
  width: 18px;
  height: 9px;
  background-color: #263672;
  top: -10%;
  left: 62%;
  opacity: 1.2224908778;
  transform: rotate(10.7703086478deg);
  animation: drop-43 1.4545163862s 0.0882235046s infinite;
}
@keyframes drop-43 {
  100% {
    top: 110%;
    left: 65%;
  }
}

.confetti-piece:nth-child(44) {
  width: 30px;
  height: 15px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 0.884888762;
  transform: rotate(102.7230616938deg);
  animation: drop-44 1.4646722513s 0.908057194s infinite;
}
@keyframes drop-44 {
  100% {
    top: 110%;
    left: 81%;
  }
}

.confetti-piece:nth-child(45) {
  width: 29px;
  height: 14.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 43%;
  opacity: 0.8586494386;
  transform: rotate(326.0691498431deg);
  animation: drop-45 1.7376366858s 0.7114789398s infinite;
}
@keyframes drop-45 {
  100% {
    top: 110%;
    left: 58%;
  }
}

.confetti-piece:nth-child(46) {
  width: 15px;
  height: 7.5px;
  background-color: #263672;
  top: -10%;
  left: 66%;
  opacity: 0.9602536675;
  transform: rotate(87.831700418deg);
  animation: drop-46 1.5044668664s 0.1898862793s infinite;
}
@keyframes drop-46 {
  100% {
    top: 110%;
    left: 79%;
  }
}

.confetti-piece:nth-child(47) {
  width: 31px;
  height: 15.5px;
  background-color: #ffbf00;
  top: -10%;
  left: 108%;
  opacity: 0.7644916283;
  transform: rotate(125.108124724deg);
  animation: drop-47 1.2635721379s 0.5127506968s infinite;
}
@keyframes drop-47 {
  100% {
    top: 110%;
    left: 120%;
  }
}

.confetti-piece:nth-child(48) {
  width: 28px;
  height: 14px;
  background-color: #263672;
  top: -10%;
  left: 93%;
  opacity: 1.3938814022;
  transform: rotate(313.332849543deg);
  animation: drop-48 1.6851607065s 0.0826921932s infinite;
}
@keyframes drop-48 {
  100% {
    top: 110%;
    left: 108%;
  }
}

.message {
  color: #ffff99;
  font-size: 3rem;
  margin: 0 3.5rem;
  text-align: center;
  text-shadow: 3px 3px #fdbf6f;
}

.bombs-amount, .flags-amount, .quick-intro {
  margin: 1rem 0;
  color: #fdbf6f;
}

.quick-intro {
  color: #b15928;
}

.reset {
  margin-top: 2rem;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
  background: #a6cee3;
  color: #b15928;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.5rem;
  transition: all 0.1s ease;
}
.reset:hover {
  color: #ffff99;
  text-shadow: 2px 2px #fdbf6f;
  background: #6a3d9a;
}

.rules, .records, .settings {
  cursor: pointer;
  transition: all 0.1s ease;
}
.rules:hover, .records:hover, .settings:hover {
  filter: sepia(1);
}

.stats {
  font-size: 1.5rem;
  text-shadow: none;
}

.right-pane, .left-pane {
  display: flex;
  gap: 0.4rem;
  width: 3rem;
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 18rem;
}

.modal {
  position: absolute;
  top: 15%;
  width: 100%;
  left: 0;
  transition: left 0.3s ease-in-out;
  color: #ff7f00;
  z-index: 3;
}
.modal button {
  padding: 0.5rem 0.7rem;
  background: #ffff99;
  cursor: pointer;
  color: #ff7f00;
  border: 0.1rem solid #ff7f00;
  border-top: 0.1rem solid #fdbf6f;
  border-left: 0.1rem solid #fdbf6f;
  font-family: "VT323", monospace;
  transition: all 0.1s ease;
}
.modal button:focus, .modal button:hover {
  border: 0.1rem solid #fdbf6f;
  border-top: 0.1rem solid #ff7f00;
  border-left: 0.1rem solid #ff7f00;
}
.modal input {
  background: #ffff99;
  color: #ff7f00;
  border: 0.1rem solid #ff7f00;
  border-top: 0.1rem solid #fdbf6f;
  border-left: 0.1rem solid #fdbf6f;
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 1.1rem;
  font-family: "VT323", monospace;
}
.modal input::placeholder {
  padding: 0 0.5rem;
  color: #fdbf6f;
  margin: 0;
}
.modal-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 24rem;
  height: 24rem;
  padding: 1.3rem;
  background: #a6cee3;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
}
.modal h2 {
  font-style: italic;
  text-shadow: 2px 2px #ffff99;
}
.modal ul li:last-child {
  font-size: 1.1rem;
  font-style: italic;
}
.modal.hidden {
  left: -1000%;
}
.modal-close {
  display: flex;
}
.modal-close button {
  transform: translate(10px, -20px);
}
.modal-name .modal-wrapper, .modal-settings .modal-wrapper {
  align-items: center;
}
.modal-settings .modal-close {
  width: 100%;
}

.logout {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 1.5rem 0 0;
}

.grid {
  width: 24rem;
  height: 24rem;
  display: flex;
  flex-wrap: wrap;
  background: slategray;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 2;
}
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  align-items: center;
}
.grid-item {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  border: 0.2rem solid #1f78b4;
  border-top: 0.2rem solid #cab2d6;
  border-left: 0.2rem solid #cab2d6;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a6cee3;
  cursor: pointer;
}
.grid-item:hover {
  background: #6a3d9a;
}
.grid-item.checked {
  background-color: #cab2d6;
  cursor: default;
}
.grid-item.checked[data-neighbors="1"] {
  color: #e31a1c;
}
.grid-item.checked[data-neighbors="2"] {
  color: #fb9a99;
}
.grid-item.checked[data-neighbors="3"] {
  color: #ff7f00;
}
.grid-item.checked[data-neighbors="4"] {
  color: #fdbf6f;
}
.grid-item.checked[data-neighbors="5"] {
  color: #ffff99;
}
.grid-item.checked.bomb {
  background-color: #e31a1c;
}
.grid-item.checked.bomb:focus {
  background-color: orange;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin: 0 auto;
  color: #cab2d6;
}
.footer img {
  width: 3rem;
  filter: invert(0.8) contrast(0.2);
}